* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f5f5f5;
}

.toDoHolder {
    display: flex;
    justify-content: center;
    width: 100%;
}

.toDoHolderConatainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.toDoHolderConatainer h1 {
    color: #333333;
    font-size: 28px;
    font-weight: 600;
}

.toDoTitleContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 19px;
}

.toDoTitleContainer input[type="text"] {
    width: 100%;
    border: 1px solid #9ae7c3;
    border-radius: 3px 0 0 3px;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #5f5f5f;
}

.toDoTitleContainer input[type="text"]:focus {
    width: 100%;
    border: 1px solid #9ae7c3;
    outline: none;
    padding: 10px;
}

.toDoTitleContainer button {
    width: 106px;
    border-top: 1px solid rgb(166, 220, 195);
    border-right: 1px solid rgb(166, 220, 195);
    border-bottom: 1px solid rgb(166, 220, 195);
    border-image: initial;
    font-weight: 600;
    font-size: 16px;
    border-left: none;
    background-color: rgb(245, 245, 245);
    color: rgb(110, 188, 152);
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}


.toDoTableContainer {
    width: 100%;
    margin-top: 30px;
}

.toDoTableContainer table {
    width: 100%;
}

.toDoTableContainer table tr td {
    padding: 10px 0;
}

.toDoTableContainer table tr td:first-child {
    color: black;
    font-size: 20px;
    font-weight: 500;
    overflow-wrap: break-word;
    padding-right: 15px;
}

.toDoTableContainer table tr td:last-child {
    text-align: end;
}
.toDoTableContainer table tr td:last-child #tick , .toDoTableContainer table tr td:last-child #edit{
    margin-right:6px;
}
.toDoTableContainer table tr td:last-child #tick {
    color: #65b38f;
    position: relative;
    top: 2px;
    scale: 0.9;
    cursor: pointer;
}

.toDoTableContainer table tr td:last-child #edit {
    color: #0aa4d0;
    position: relative;
    top: 0px;
    scale: 0.85;
    cursor: pointer;
}

.toDoTableContainer table tr td:last-child #cancel {
    color: #f02a2a;
    position: relative;
    top: 2px;
    scale: 0.9;
    cursor: pointer;
}

.toDoClearButton button {
    width: 106px;
    border: 1px solid #a6dcc3;
    font-weight: 600;
    background-color: #f5f5f5;
    color: #6ebc98;
    padding: 8px 0;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}
.delBox{
    color: grey;
}